body {
    display:flex;
    
}
.tinmate_logo {
    vertical-align: middle;
    width: 131px;
    height: 131px;
    margin-top: 23;
    border-radius: 20%;
}
.profle_detail {
    font-size: 30px;
    height: 51px;
    width: 295px;
    margin-top: 109px;
    margin-left: -100px;
    font-family: "itim";
    }
.avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    margin-left: -250px;
    margin-top: 192px;
}
.personal_detail {
    margin-top: 80px;
    margin-left: 50px;
    font-family: "itim";
}
.gender {
    font-family: "itim";
    margin-top: 450px;
    height: 30px;
    width: 295px;
    margin-left: -280px;
}
.firstname {
    margin-top: 580px;
    margin-left: -300px;
    color: black;
    width: 300px;
    height: 30px  ;
    border-radius: 5px;
    border: 2px solid black;
    font-family: "itim";
    }
.lastname {
    margin-top: 650px;
    margin-left: -330px;
    color: black;
    width: 300px;
    height: 30px  ;
    border-radius: 5px;
    border: 2px solid black;
    font-family: "itim";
    }
.id {
    margin-top: 720px;
    margin-left: -330px;
    color: black;
    width: 300px;
    height: 30px  ;
    border-radius: 5px;
    border: 2px solid black;
    font-family: "itim";
    }

.check_studentcard {
    background-color: #f53b54 ;
    margin-top: 790px;
    margin-left: -330px;
    border-radius: 15px;
    width: 330px;
    height: 45px;
    border: 2px solid #6666;
    font-family: "itim";
}
.check_studentcard:hover{
    background-color: #f10222;
}
.check_studentcard:active{
    background-color: #F10222;  
}

.edit_button {
    background-color: white;
    border-radius: 15px;
    width: 75px;
    height: 45px;
    border: 2px solid #6666;
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    font-family: "itim";
    }
.edit_button:hover{
    background-color: #E94057;
}
.edit_button:active{
    background-color: #E94057;  
}
.pick_button {
    background-color: white;
    border-radius: 15px;
    width: 75px;
    height: 45px;
    border: 2px solid black;
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    font-family: "itim";
    }
.current_year{
    font-family: "itim";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -286px;
    margin-left: -220px;
    
   
}
.num_course{
    font-family: "itim";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -220px;
    
   
}
.gpa_aim {
    font-family: "itim";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -220px;
    
}
.gpa_border{
    border: 2px solid black;
    background-color: white;
    border-radius: 15px;
    width: 49px;
    height: 32px;
    
    margin-top: -52px;
    margin-left: 98px;
}
.aim_border{
    border: 2px solid black;
    background-color: white;
    border-radius: 15px;
    width: 50px;
    height: 32px;
    
    margin-top: -52px;
    margin-left: 195px;
}

.skills {
    font-family: "itim";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    margin-left: -220px;
}
.school_major {
    font-family: "itim";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 230px;
    margin-left: -220px;
}
.bio{
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 80%;
    margin-top: -610px;
    margin-left: -100px;
    font-family: "itim";
}
input[type=bio_box], select {
width: 100%;
padding: 200px 150px;
margin: 5px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
.line{
color: gray;
margin-top: -690px;
margin-left: -10px;
width: 400px;
height: 50px;
border-bottom: 1px solid black;
position: absolute;
}
.line_1 {
color: gray;
margin-top: -60px;
margin-left: 500px;
width: 400px;
height: 50px;
border-bottom: 1px solid black;
position: absolute
}
.line_text {
color: grey;
margin-top: -650px;
margin-left: 400px;
font-family: "itim";
}
.confirm {
    background-color: green;
    border-radius: 15px;
    width: 230px;
    height: 60px;
    border: 2px solid #6666;
    margin-top: 560px;
    margin-left: 550px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    font-family: "itim";
    color: white;
    }
.confirm:hover{
    background-color: rgb(11, 195, 20);
}
.confirm:active{
    background-color: #04610c;  
}